body{
    width: 600px;
}
.one, .three{
    padding: 32px;
}

.one{
    background-color: rgb(223, 81, 81);
    margin: 12px;
    border: 3px solid blue;
}

.two{
    background-color: blue;
        border: 3px solid purple;
}
.three{
    margin-top: 48px;
    margin-left: auto;
    width: 150px;
    background-color: peachpuff;
        border: 3px solid red;
}